

[paths]
# the papers main content dir
papers_data_dir = /opt/data/papers

# The SQLite database containing the OCR
# The location depends on Paperwork's version
# Currently it is called doc_tracking.db and can be found in a directory like
# ~/.local/share/paperwork2/workdir_data/papers_XXXXX
papers_metadata_db = ~/.local/share/paperwork2/workdir_data/papers_randomid/doc_tracking.db

# The SQLite database created by this script
# It will be downloaded by the application through the HTTP server
result_db = /opt/data/papers.sqlite



# The retention level used for documents
# The possible values are
# ignored : not added at all to the DB
# data : basic data, can only be researched from label, not text
# index : text is indexed but not stored, the text may be searched, but no snippet will be displayed
# full : text is indexed and stored
# If a document matches multiple labels the lowest level is applied.

[labels]
ignorable_documents_label = ignored
without_snippets = index
fully_stored = full


# This section controls which checks are performed
# Warnings are displayed in the console.
# This does not change the resulting DB.

[warnings]

# Paperwork saves edited PDF as images
# Currently this images are always ignored (only the original PDF is used)
pdf_with_edited_images = false

# This is an extension of Paperwork
# If the first line of the "Additional keywords" starts with #
# it will be used as title
missing_title = false

# Error when trying to get the number of pages of the pdf
pdf_error = false

# Unexpected file type
unknown_file_type = false

# A document contains both PDF and images (other than edited pages)
# As far as I know this should not happen.
multiple_types = false


